<a href="https://colab.research.google.com/github/PSarker108/Data-Mining/blob/main/LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given a list of temperatures (in °C) recorded over a week:

temperatures = [22, 29, 31, 18, 35, 25, 19]


Write a Python program to do the following:

Separate the temperatures into two lists:

hot_days: for temperatures 30°C or above

normal_days: for temperatures below 30°C

Create a class named WeatherStats with the following methods:

__init__(self, temps): Initializes the object with a list of temperatures.

highest(self): Returns the highest temperature.

lowest(self): Returns the lowest temperature.

average(self): Returns the average temperature.

display(self): Displays the temperature list, highest, lowest, and average temperature.

Create two objects of the WeatherStats class:

One for hot_days

One for normal_days

Use the display() method to show statistics for both hot and normal days.

In [ ]:
n = int(input("Temperature number? "))

temp = []

for i in range(n):
    value = float(input(f"Enter temperature #{i+1}: "))
    temp.append(value)

hot_day = list()
normal_day = list()

for i in temp:
    if i >= 30:
        hot_day.append(i)
    else:
        normal_day.append(i)

class WeatherStats:
    def __init__(self, temps):
        self.temps = temps

    def highest(self):
      return max(self.temps)

    def lowest(self):
      return min(self.temps)

    def average(self):
      return sum(self.temps)/len(self.temps)

    def display(self):
      print(f"Temperatures: {self.temps}")
      print("Highest Temperatures:", self.highest())
      print("Lowest Temperatures:", self.lowest())
      print("Average Temperature:", self.average())

hot_temp_stat = WeatherStats(hot_day)
normal_temp_stat = WeatherStats(normal_day)

hot_temp_stat.display()
normal_temp_stat.display()

Temperature number? 10
Enter temperature #1: 40
Enter temperature #2: 25
Enter temperature #3: 32
Enter temperature #4: 2
Enter temperature #5: 30
Enter temperature #6: 29
Enter temperature #7: 22
Enter temperature #8: 35
Enter temperature #9: 27
Enter temperature #10: 33
Temperatures: [40.0, 32.0, 30.0, 35.0, 33.0]
Highest Temperatures: 40.0
Lowest Temperatures: 30.0
Average Temperature: 34.0
Temperatures: [25.0, 2.0, 29.0, 22.0, 27.0]
Highest Temperatures: 29.0
Lowest Temperatures: 2.0
Average Temperature: 21.0

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#to see last 5 data
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
#row axis=0 ; collumn axis=1 ; 2d axis=2
df.drop(labels="Name", axis=1, inplace=True)
#inplace "true" then real data(df) get edited but "false" then new copy
df1 = df.drop(labels="Name", axis=1, inplace=False)

KeyError: "['Name'] not found in axis"

In [ ]:
df.drop(labels="Embarked", axis=1, inplace=True) #
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0           0       3    male  22.0      1      0   7.2500
1           1       1  female  38.0      1      0  71.2833
2           1       3  female  26.0      0      0   7.9250
3           1       1  female  35.0      1      0  53.1000
4           0       3    male  35.0      0      0   8.0500
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0  13.0000
887         1       1  female  19.0      0      0  30.0000
888         0       3  female   NaN      1      2  23.4500
889         1       1    male  26.0      0      0  30.0000
890         0       3    male  32.0      0      0   7.7500

[891 rows x 7 columns]

In [ ]:
df['Age'].mean()
df['Age'].max()

80.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [ ]:
df.isnull()#True is null

     Survived  Pclass    Sex    Age  SibSp  Parch   Fare
0       False   False  False  False  False  False  False
1       False   False  False  False  False  False  False
2       False   False  False  False  False  False  False
3       False   False  False  False  False  False  False
4       False   False  False  False  False  False  False
..        ...     ...    ...    ...    ...    ...    ...
886     False   False  False  False  False  False  False
887     False   False  False  False  False  False  False
888     False   False  False   True  False  False  False
889     False   False  False  False  False  False  False
890     False   False  False  False  False  False  False

[891 rows x 7 columns]

In [ ]:
df.isnull().sum() #to see how many null

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [ ]:
#how to fillup null with avg,moad,mean
df['Age'] = df['Age'].fillna(df['Age'].mean()) #assign is must

mean max normalization
(x-x.min)/(x.max-x.mean)
Data normalization & Database normalization is different

In [ ]:
#Normalization ***
df['Age'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())

In [ ]:
df

     Survived  Pclass     Sex       Age  SibSp  Parch     Fare
0           0       3    male  0.271174      1      0   7.2500
1           1       1  female  0.472229      1      0  71.2833
2           1       3  female  0.321438      0      0   7.9250
3           1       1  female  0.434531      1      0  53.1000
4           0       3    male  0.434531      0      0   8.0500
..        ...     ...     ...       ...    ...    ...      ...
886         0       2    male  0.334004      0      0  13.0000
887         1       1  female  0.233476      0      0  30.0000
888         0       3  female  0.367921      1      2  23.4500
889         1       1    male  0.321438      0      0  30.0000
890         0       3    male  0.396833      0      0   7.7500

[891 rows x 7 columns]